<div class="col-sm-4">
  <div class="card mb-3">
    <div class="d-flex justify-content-end">
      <svg stroke="currentColor" fill="currentColor" stroke-width="1" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
      </svg>
    </div>
    <div class="card-body">
      <h5 class="card-title">Configuração Nuvemshop</h5>
      <p class="card-text">Você tem loja na Nuvemshop?</p>
      <a href="https://www.tiendanube.com/apps/8619/authorize?state=csrf-code" class="btn btn-primary">Conectar</a>
    </div>
  </div>
</div>
