<div class="col-md-4">
  {% if user.is_authenticated %}
    {{ request.user.loja.doc }}
  {% endif %}
  <div class="card">
    <div class="card-header position-relative">
      <!-- Adicione position-relative -->
      <!-- Sinalizador de confirmação -->
      <div class="position-absolute top--2 end-0">
        <div class="bg-success text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 25px; height: 25px;">
          <i class="ti ti-check"></i>
        </div>
      </div>NuvemShop
    </div>
    <div class="card-body">
      <h5 class="card-title">Configuração Nuvemshop</h5>
      <p class="card-text">Você tem loja na Nuvemshop?</p>
      <a href="https://www.tiendanube.com/apps/8619/authorize?state=csrf-code" class="btn btn-primary">
        {% if request.user.loja.usuario_id == request.user.id %}
          Desconectar
        {% else %}
          Conectar
        {% endif %}
      </a>
    </div>
  </div>
</div>
